.ImageProj {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 500px;
  height: auto;
}

.projectContainer {
  border-radius: 25px;
  border-left: 4px dashed #b5e853;
  border-right: 4px dashed #b5e853;
  display: flex;
  margin-top: 50px;
  padding: 30px;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.projectLook {
  display: flex;
  flex-direction: column;
  font-size: 40px;
}
.projectLook div{
  margin-top: 20px;
}
.projectDescription {
  font-size: 20px;
  max-width: 300px;
}
.projectTechnology {
  margin-top: 20px;
  color: #f0f8ff;
}