.sectionfo {
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(82, 43, 71);
  color: rgb(172, 252, 217);
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 25px;
  margin-top: 30px;
  flex-direction: row;
  height: 400px;
}
.myImg {
  height: 370px;
  border-radius: 25px;
}
.descriptionn {
  font-size: 20px;
  width: calc(100% - 440px);
}
#T {
  flex-direction: column;
  height: 300px;
}

#Ive {
  font-size: 40px;
  font-weight: bold;
  color: #f6f7eb;
}

.logg {
  height: 50px;
  width: 50px;
}
