.sectionfo {
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #b5e853;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 25px;
  margin-top: 30px;
  border-left: 4px dashed #b5e853;
  border-right: 4px dashed #b5e853;
  padding: 10px;
  max-width: 800px;
  flex-direction: column;
}
.myImg {
  width: 100%;
  max-width: 600px;
  height: auto;
  border-radius: 25px;
}
.descriptionn {
  margin-top: 20px;
  font-size: 20px;
}

