.Menu {
  list-style-type: none;
  display: block;
  padding: 10px;
  background-color: #b5e850;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.Menu li a {
  text-decoration: none;
  color: rgb(82, 43, 71);
  font-size: 40px;
}

#MainMen {
  animation-fill-mode: both;
  animation-duration: 2s;
  animation-name: appear;
}
