.Menu {
  list-style-type: none;
  display: block;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.Menu li a {
  text-decoration: none;
  color: #b5e850;
  font-size: 40px;
  padding: 10px;
  border-bottom: 4px solid #b5e853;
}

#MainMen {
  animation-fill-mode: both;
  animation-duration: 2s;
  animation-name: appear;
}
