body {
  background-color: #151515;
  color: #b5e850;
  text-align: center;
  font-family: monospace;
}

.link {
  color: #63c0f5;
}

.vertically {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.centered {
  margin-left: auto;
  margin-right: auto;
}
