.Menu {
  list-style-type: none;
  padding: 10px;
  background-color:  #b5e850;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  align-items: center;
}

.Menu li a {
  text-decoration: none;
  color: rgb(82, 43, 71);
  font-size: 30px;
}
