#MainMen {
  animation-fill-mode: both;
  animation-duration: 2s;
  animation-name: appear;
}
#tt {
  overflow: hidden;
  font-size: 60px;
  padding: 10px;
  color: rgb(172, 252, 217);
  background-color: rgb(82, 43, 71);
}

#tl {
  font-size: 100px;
  font-weight: 120;
}
